
.background-img img {
    height: 800px;
    width: 1263px;

}
.section-two h1{
    font-size: 40pt;
}
/**********************SECTION1*****************/

.container{
    display:grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    padding: 50px;
    

}

.container img {
    width: 80px;
    height: 80px;
}

.col1, .col2, .col3{
    background: #ddbea9;
    color: #323528;
    text-align: center;
    border-radius: 14px;
    height: 345px;   
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    /* padding: 8px; */
    
}
.col1 {
    padding-top: -20px;
}
.col1{
    -webkit-transition: all 0.7s 0s ease;
-moz-transition: all 0.7s 0s ease;
-o-transition: all 0.7s 0s ease;
transition: all 0.7s 0s ease;
}
/* .col3 h4, .col2 h4, .col1 h4{
    padding-bottom: -40px;
    padding-left: 20px;
} */


/* 
.section-one{
    
} */
.section-two{
    background: #ffe8d6;
    padding-left: 50px;
    padding: 200px;
}
.section-two h2{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}
.section-two h4{
    padding-left: 640px;
    padding-top: 50px;
    font-family: 'Ephesis', cursive;
    font-size: 25pt;
    font-weight: 100;
}


.section-three{
    
    background: #ffe8d6; 
    margin-top: -23px;
    padding-bottom: 200px;

}


.wrapper {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 65ch;
    animation: typing 4s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }